* {
    font-family: 'Open Sans';
    margin: 0;
}

header {
    background-image: url(../images/banner/banner1.png);
    height: 800px;
    width: auto;
}

/* This is banner */
.banner{
    text-align: right;
    height: 100px;
    width: 30%;
    padding: 18% 10% 20% 60%;
}
.banner-title {
    text-align: center;
    font-size: 65px;
    color: #151414;
    padding-bottom: 20px;
    
}

.banner-discription {
    color: #444343;
    font-size: 16px;
    margin-bottom: 30px;
}
.btn-primary {
    height: 60px;
    border-radius: 64 px;
    background: #FD6E0A;
    color: #FFFFFF;
    border: 0;
    padding: 18px 35px;
    font-weight: 700;
    font-size: 20px;
}